.idea
.env
pvpgn/var
pvpgn/etc
ghostpp/database
ghostpp/config/ghost.cfg
ghostpp/config/ghost.*.cfg
ghostpp/config/blizzard.j
ghostpp/config/common.j
help_repos
docker-compose.v1.yml
docker-compose.v2.yml
docker-compose.v3.yml